@model IEnumerable<Site_SmartComfort.Models.Produto>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/produtoColab.css">
<div class="organizar">
<p>
    <a asp-action="CadProduto">Cadastrar Novo Produto</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*
                <th>
                @Html.DisplayNameFor(model => model.Id)
                </th>
            *@
 
            <th>
                @Html.DisplayNameFor(model => model.CodBar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomePro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoPro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdEstoquePro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GarantiaPro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voltagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImgUrlPro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*
                <td>
                @Html.DisplayFor(modelItem => item.Id)
                </td>

            *@
         
            <td>
                @Html.DisplayFor(modelItem => item.CodBar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomePro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoPro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdEstoquePro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GarantiaPro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voltagem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImgUrlPro)
            </td>
            <td>
                @Html.ActionLink("Editar", "editarProduto", new { id=item.Id  }) |
                @Html.ActionLink("Excluir", "Delete", new { id=item.Id  }, new {onclick = "return confirm('Deseja realmente excluir este item?')"})
            </td>
        </tr>
}
    </tbody>
</table>

</div>
