@model IEnumerable<Site_SmartComfort.Models.Produto>

<link rel="stylesheet" href="~/css/carrinho.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

<!-- Modal 1 (Endereço) -->
<div class="modal" id="modal1">
    <div class="modal-content">
        <h3>Endereço</h3>
        <input type="text" id="cep" placeholder="Digite o CEP">
        <input type="text" id="cidade" placeholder="Cidade" readonly>
        <input type="text" id="bairro" placeholder="Bairro" readonly>
        <input type="text" id="numero" placeholder="Número">
        <br>
        <button class="cancel" id="cancelarBtn">Cancelar</button>
        <button id="continuarBtn">Continuar Comprando</button>
    </div>
</div>

<!-- Modal 2 (Escolha a opção) -->
<div class="modal" id="modal2">
    <div class="modal-content">
        <h3>Escolha uma opção</h3>
        <div class="payment-option">
            <!-- Aqui podem ser colocadas imagens reais de pagamento -->
            <button id="cartaoBtn">
                <img src="~/img/cartão de crédito.png" alt="Cartão de Crédito">
            </button>
            <button id="pixBtn">
                <img src="~/img/pix.png" alt="">
            </button>
        </div>
        <br>
        <button class="cancel" id="cancelarBtn2">Cancelar</button>
    </div>
</div>

<!-- Modal 3 (Cartão de Crédito) -->
<div class="modal" id="modal3">
    <div class="modal-content">
        <h3>Informações do Cartão</h3>
        <div class="card-info">
            <input type="text" id="cartaoNumero" placeholder="Número do Cartão">
            <input type="text" id="cartaoValidade" placeholder="Validade">
            <input type="text" id="cartaoCVV" placeholder="CVV">
        </div>
        <br>
        <button class="cancel" id="cancelarBtn3">Cancelar</button>
        <button id="finalizarBtn">Finalizar Compra</button>
        <br>
        <button id="voltarModal2Btn">Alterar Forma de Pagamento</button>
    </div>
</div>

<!-- Modal 4 (QR Code) -->
<div class="modal" id="modal4">
    <div class="modal-content">
        <h3>QR Code para Pagamento</h3>
        <!-- Representação de um QR Code -->
        <div class="qr-code">
        </div>
        <br>
        <button class="cancel" id="cancelarBtn4">Cancelar</button>
        <button id="voltarModal2Btn4">Alterar Forma de Pagamento</button>
    </div>
</div>

<section class="h-100 h-custom" style="background: none">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="d-flex justify-content-between align-items-center mb-5">
                                        <h1 class="fw-bold mb-0">Carrinho</h1>
                                        <h6 class="mb-0 text-muted">@Model.Count() itens</h6>
                                    </div>
                                    <hr class="my-4">

                                    @if (!Model.Any())
                                    {
                                        <p>O carrinho está vazio.</p>
                                    }
                                    else
                                    {
                                        @foreach (var item in Model)
                                        {
                                            <div class="row mb-4 d-flex justify-content-between align-items-center">
                                                <div class="col-md-2 col-lg-2 col-xl-2">
                                                    <img src="@item.ImgUrlPro"
                                                         class="img-fluid rounded-3" alt="">
                                                </div>
                                                <div class="col-md-3 col-lg-3 col-xl-3">
                                                    <h6 class="text-muted">@item.NomePro</h6>
                                                </div>
                                                <div class="col-md-3 col-lg-3 col-xl-2 d-flex" id="quantidade">
                                                    <button type="button" class="qnt btn btn-secondary diminuir" data-id="@item.Id">-</button>
                                                    <input type="text" class="form-control form-control-sm inputQuantidadeProdutoCarrinho"
                                                           value="@item.QtdEstoquePro" data-id="@item.Id" data-preco="@item.PrecoPro" readonly />
                                                    <button type="button" class="qnt btn btn-secondary aumentar" data-id="@item.Id">+</button>
                                                </div>
                                                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                    <h6 class="mb-0 subtotal">@item.PrecoPro.ToString("C")</h6>
                                                </div>
                                                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                    <a asp-action="RemoverItem" asp-route-id="@item.Id">
                                                        <i class="fas fa-trash" style="font-size: 20px;"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <hr class="my-4">
                                        }
                                    }

                                    <div class="pt-5">
                                        <h6 class="mb-0">
                                            <a asp-controller="Home" asp-action="Index" class="text-body" style="text-decoration: none;">
                                                <i class="fas fa-long-arrow-alt-left me-2"></i>Voltar para a loja
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 bg-body-tertiary" id="controller">
                                <div class="p-5" id="resumo">
                                    <h3 class="fw-bold mb-5 mt-2 pt-1">Resumo da compra</h3>
                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-4">
                                        <h5 class="text-uppercase">itens</h5>
                                        <h5 id="totalItens">@Model.Sum(item => item.PrecoPro).ToString("C")</h5>
                                    </div>
                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-5">
                                        <h5 class="text-uppercase">Preço total</h5>
                                        <h5 id="precoTotal">@Model.Sum(item => item.PrecoPro).ToString("C")</h5>
                                    </div>

                                    <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-block btn-lg"
                                            data-mdb-ripple-color="dark" id="abrirModalBtn">
                                        Comprar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>