@model Site_SmartComfort.Models.ObterProdutosPorCategoria

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>
<link rel="stylesheet" href="~/css/style.css">

<body>
    <div class="organizar">
        <img id="carrosel" src="~/img/carrosel1.jpeg" />
        <div class="container_btn_carrosel">
            <button class="btn_carrosel" onclick="troca1()"></button>
            <button class="btn_carrosel" onclick="troca2()"></button>
            <button class="btn_carrosel" onclick="troca3()"></button>
        </div>

        <a href="https://api.whatsapp.com/send?phone=5511999999999&text=Olá!%20Preciso%20de%20ajuda." target="_blank" class="btn_whatsapp">
            <img width="60" height="60" src="https://img.icons8.com/officel/40/whatsapp.png" alt="whatsapp" />
        </a>

    </div>

    <div class="descer">
        <div class="produtos1" id="produtos">

            <div class="fundo_opcao">
                <a href="#lampadas">
                    <div>
                        <img class="icone_produto" src="~/img/produtos/lampada.png">
                    </div>
                </a>
                <h1 class="nome_produto">Lâmpadas</h1>
            </div>

            <div class="fundo_opcao">
                <a href="#fechaduras">
                    <div>
                        <img class="icone_produto" src="~/img/produtos/porteira.png" />
                    </div>
                </a>
                <h1 class="nome_produto">Fechaduras</h1>
            </div>

            <div class="fundo_opcao">
                <a href="#cameras">
                    <div>
                        <img class="icone_produto" src="~/img/produtos/camera.png" />
                    </div>
                </a>
                <h1 class="nome_produto">Câmeras</h1>
            </div>

            <div class="fundo_opcao">
                <a href="#porteiros">
                    <div>
                        <img class="icone_produto" src="~/img/produtos/porta.png" />
                    </div>
                </a>
                <h1 class="nome_produto">Vídeo Porteiro</h1>
            </div>

            <div class="fundo_opcao">
                <a href="#roteadores">
                    <div>
                        <img class="icone_produto" src="~/img/produtos/roteador.png" />
                    </div>
                </a>
                <h1 class="nome_produto">Roteador</h1>
            </div>

        </div>
        <h1 class="titulo_produto" id="cameras">Câmeras</h1>
        <div id="destaqueCarouseCameras" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @for (int i = 0; i < Model.Cameras.Count(); i += 3)
                {
                    var produtosParaSlide = Model.Cameras.Skip(i).Take(3);
                    <div class="carousel-item @(i == 0 ? "active" : "")">
                        <div class="row">
                            @foreach (var produto in produtosParaSlide)
                            {
                                <div class="col-lg-4 d-flex flex-column align-items-center">
                                    <div class="fundo_solo">
                                        <img class="icone_produto_solo" src="@produto.ImgUrlPro" alt="@produto.NomePro">
                                        <h3 class="desc">@produto.NomePro</h3>
                                        <h1 class="preco">R$ @produto.PrecoPro</h1>
                                        <button class="infos">
                                            <a asp-controller="Produto" asp-action="ProdutoClick" asp-route-id="@produto.Id">Mais Informações</a>
                                        </button>
                                        @using (Html.BeginForm("AdicionarItem", "Home", FormMethod.Post))
                                        {
                                            <input type="hidden" name="id" value=@produto.Id>
                                            <input type="hidden" name="quantidade" value="1">
                                            <button type="submit" class="btn btn-default btn-acao-primario">Adicionar</button>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
            <a class="carousel-control-prev" href="#destaqueCarouseCameras" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#destaqueCarouseCameras" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Próximo</span>
            </a>
        </div>

        <h1 class="titulo_produto" id="roteadores">Roteadores</h1>
        <div id="destaqueCarouseRoteadores" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @for (int i = 0; i < Model.Roteadores.Count(); i += 3)
                {
                    var produtosParaSlide = Model.Roteadores.Skip(i).Take(3);
                    <div class="carousel-item @(i == 0 ? "active" : "")">
                        <div class="row">
                            @foreach (var produto in produtosParaSlide)
                            {
                                <div class="col-lg-4 d-flex flex-column align-items-center">
                                    <div class="fundo_solo">
                                        <img class="icone_produto_solo" src="@produto.ImgUrlPro" alt="@produto.NomePro">
                                        <h3 class="desc">@produto.NomePro</h3>
                                        <h1 class="preco">R$ @produto.PrecoPro</h1>
                                        <button class="infos">
                                            <a asp-controller="Produto" asp-action="ProdutoClick" asp-route-id="@produto.Id">Mais Informações</a>
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
            <a class="carousel-control-prev" href="#destaqueCarouseRoteadores" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#destaqueCarouseRoteadores" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Próximo</span>
            </a>
        </div>


        <h1 class="titulo_produto" id="lampadas">LAMPADAS</h1>

        <div id="destaqueCarouseLampadas" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @for (int i = 0; i < Model.Lampadas.Count(); i += 3)
                {
                    var produtosParaSlide = Model.Roteadores.Skip(i).Take(3);
                    <div class="carousel-item @(i == 0 ? "active" : "")">
                        <div class="row">
                            @foreach (var produto in produtosParaSlide)
                            {
                                <div class="col-lg-4 d-flex flex-column align-items-center">
                                    <div class="fundo_solo">
                                        <img class="icone_produto_solo" src="@produto.ImgUrlPro" alt="@produto.NomePro">
                                        <h3 class="desc">@produto.NomePro</h3>
                                        <h1 class="preco">R$ @produto.PrecoPro</h1>
                                        <button class="infos">
                                            <a asp-controller="Produto" asp-action="ProdutoClick" asp-route-id="@produto.Id">Mais Informações</a>
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
            <a class="carousel-control-prev" href="#destaqueCarouseLampadas" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#destaqueCarouseLampadas" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Próximo</span>
            </a>
        </div>


        <h1 class="titulo_produto" id="porteiros">VIDEO PORTEIRO</h1>
        <div id="destaqueCarousePorteiro" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @for (int i = 0; i < Model.Porteiro.Count(); i += 3)
                {
                    var produtosParaSlide = Model.Porteiro.Skip(i).Take(3);
                    <div class="carousel-item @(i == 0 ? "active" : "")">
                        <div class="row">
                            @foreach (var produto in produtosParaSlide)
                            {
                                <div class="col-lg-4 d-flex flex-column align-items-center">
                                    <div class="fundo_solo">
                                        <img class="icone_produto_solo" src="@produto.ImgUrlPro" alt="@produto.NomePro">
                                        <h3 class="desc">@produto.NomePro</h3>
                                        <h1 class="preco">R$ @produto.PrecoPro</h1>
                                        <button class="infos">
                                            <a asp-controller="Produto" asp-action="ProdutoClick" asp-route-id="@produto.Id">Mais Informações</a>
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
            <a class="carousel-control-prev" href="#destaqueCarousePorteiro" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#destaqueCarousePorteiro" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Próximo</span>
            </a>
        </div>

        <h1 class="titulo_produto" id="fechaduras">FECHADURAS ELETRONICAS</h1>

        <div id="destaqueCarouseFechaduras" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @for (int i = 0; i < Model.Fechaduras.Count(); i += 3)
                {
                    var produtosParaSlide = Model.Fechaduras.Skip(i).Take(3);
                    <div class="carousel-item @(i == 0 ? "active" : "")">
                        <div class="row">
                            @foreach (var produto in produtosParaSlide)
                            {
                                <div class="col-lg-4 d-flex flex-column align-items-center">
                                    <div class="fundo_solo">
                                        <img class="icone_produto_solo" src="@produto.ImgUrlPro" alt="@produto.NomePro">
                                        <h3 class="desc">@produto.NomePro</h3>
                                        <h1 class="preco">R$ @produto.PrecoPro</h1>
                                        <button class="infos">
                                            <a asp-controller="Produto" asp-action="ProdutoClick" asp-route-id="@produto.Id">Mais Informações</a>
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
            <a class="carousel-control-prev" href="#destaqueCarouseFechaduras" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#destaqueCarouseFechaduras" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Próximo</span>
            </a>
        </div>
</body>